<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Fund-N-Help, <%= @user.name %></h1>
    <p>
      You have successfully joined this awesome community,
      remember that you can sign in with your email.
    </p>
    <p>
      Go ahead and create your first campaign, just follow this link: <%= @url %>.
    </p>
    <p>Thanks again for joining and have a great day!</p>
  </body>
</html>