<<<<<<< HEAD
<<<<<<< HEAD
<div class="jumbotron">
  <span class="img-centered">
    <%=image_tag "profile.png"%>
    </span>
    <p>Find me in app/views/welcome/index.html.erb</p>
</div>
=======
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
>>>>>>> 80b9b47ec9d01f9d09dd3ae1e6afe952898caed3
=======
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
>>>>>>> fedf8d17ec369d643db6278ca73c1ff5e75ad709
