<h1>New donation for <%= @donation.campaign.title %></h1>
<h2>Please fill the form below: </h2>
<%= render partial: "shared/errors", locals: {obj: @donation} %>
<%= render partial: "shared/comment_donation_form", locals: {campaign: @campaign, obj: @donation} %>