<% if donations.any? %>
  <p>
    <h2>Donations: </h2>
    <table>
      <thead>
        <th>Author</th>
        <th>Message</th>
        <th>Amount</th>
        <th>Commented on</th>
        <th></th>
      </thead>
      <tbody>
        <%= render donations.order(:created_at).reverse %>
      </tbody>
    </table>
  </p>
<% end %>